include *.txt
include *.md
include *.pkl
recursive-include ./fire_extinguish_model *

include fire_extinguish_model/datasets/Acoustic_Extinguisher_Fire_Dataset.csv

include fire_extinguish_model/trained_models/*.pkl
include fire_extinguish_model/VERSION
include fire_extinguish_model/config.yml

include ./requirements/requirements.txt
#include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
